In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("STUDENTS.csv")

In [3]:
dataset

     NAME  CLASS      PLACE
0    AJAY      8     KALADY
1   BAZIL      8    KARIYAD
2  ADARSH     10    PARAVUR
3   BIYAS      7  KOZHIKODE
4  CLEETO      7   MANJAPRA
5     JOS      9    CHOWARA
6   HENRY     12     KOLLAM

In [4]:
#dataset = pd.read_csv("STUDENTS.csv",nrows=3)
#dataset = pd.read_csv("STUDENTS.csv",header=3)
#dataset = pd.read_csv("STUDENTS.csv",header=1,nrows=5)
dataset = pd.read_csv("STUDENTS.csv",usecols=['NAME','PLACE'])
dataset

     NAME      PLACE
0    AJAY     KALADY
1   BAZIL    KARIYAD
2  ADARSH    PARAVUR
3   BIYAS  KOZHIKODE
4  CLEETO   MANJAPRA
5     JOS    CHOWARA
6   HENRY     KOLLAM

In [5]:
dataset2 = pd.read_csv("STUDENTS2.csv")
dataset2

    NAME;CLASS;PLACE
0      AJAY;8;KALADY
1    BAZIL;8;KARIYAD
2  ADARSH;10;PARAVUR
3  BIYAS;7;KOZHIKODE
4  CLEETO;7;MANJAPRA
5      JOS;9;CHOWARA
6    HENRY;12;KOLLAM

In [6]:
dataset2 = pd.read_csv("STUDENTS2.csv",sep=";")
dataset2

     NAME  CLASS      PLACE
0    AJAY      8     KALADY
1   BAZIL      8    KARIYAD
2  ADARSH     10    PARAVUR
3   BIYAS      7  KOZHIKODE
4  CLEETO      7   MANJAPRA
5     JOS      9    CHOWARA
6   HENRY     12     KOLLAM

In [7]:
dataset3 = pd.read_csv("STUDENTS3.csv",sep=';')
dataset3

        “NAME” ”CLASS”    ”PLACE”
AJAY                 8     KALADY
BAZIL                8    KARIYAD
ADARSH              10    PARAVUR
BIYAS                7  KOZHIKODE
CLEETO               7   MANJAPRA
JOS                  9    CHOWARA
HENRY               12     KOLLAM

In [11]:
dataset5 = pd.read_csv("STUDENTS3.csv",sep='"',nrows=0)
dataset5
x=list(dataset5.columns)
x[0]

'“NAME” ”CLASS”;”PLACE” '

In [12]:
cols=str(x[0]).replace(';',' ').replace('“','').replace('”','').replace("'","").replace("''","").split()
cols

['NAME', 'CLASS', 'PLACE']

In [13]:
dataset5 = pd.read_csv("STUDENTS3.csv",sep=';')
dataset5.set_axis(cols,axis=1,inplace=True)

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements

In [ ]:
dataset5 = pd.read_csv("STUDENTS3.csv",sep=';',header=1)
dataset5
x=list(dataset5.columns)
df2 = pd.DataFrame([x])
df2

In [ ]:
df3 = dataset5.rename(columns={'AJAY' : 0,'8' : 1,'KALADY ' : 2})
df3

In [ ]:
df4 = pd.concat([df2,df3])
df4
df4.set_axis(cols,axis=1,inplace=True)

In [ ]:
df4

In [ ]:
df4.to_csv('out.csv')