In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [40]:
dataset = pd.read_csv("/home/yadhu/MEGA/ML TUTORIALS/CLASSIFICATION/Social_Network_Ads .csv")

In [41]:
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [42]:
dataset.isna().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [43]:
dataset.duplicated().sum()

33

In [44]:
dataset.drop_duplicates(inplace= True)

In [45]:
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [46]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state=0)

In [47]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [60]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=8)
model.fit(x_train,y_train)
y_test_pred = model.predict(x_test)

In [61]:
print(model.score(x_test, y_test))

0.9054054054054054